[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/adafruit/esp-idf.git
	branch = usbip-bridge

[submodule "esp-harness"]
	path = esp-harness
	url = https://github.com/adafruit/esp-harness.git
